#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #292929;
  color: white;
}

.card-body {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.btn {
  margin: 4px;
  background-color: red;
}
nav{
background-color: #292929;
}
header{
    background-image:url(/src/assets/img/Header.jpg);
    width: 1500px;
    padding-right: 500px;
}

.puntos{
  list-style:none;
  padding: 0;
}

.card-pizza{
  padding-top: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-right: 80px;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #292929;
  color: white;
}

.card-body {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.btn {
  margin: 4px;
  background-color: red;
}
nav{
background-color: #292929;
}
header{
    background-image:url(/src/assets/img/Header.jpg);
    width: 1500px;
    padding-right: 500px;
}

.puntos{
  list-style:none;
  padding: 0;
}

.card-pizza{
  padding-top: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-right: 80px;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
